build/
build-asan/
.cache/
*.vsix
.lucis/
.lucisbuild/
.luciscache
*.o
*.out
errors/
node_modules/
ztests/
examples/
StructuralBlocks.md
docs/advanced/sys-namespace-plan.md
plan*.md
LucisOs
notes.md
map.md
bugs.md

